# Database connection string
DATABASE_URI=mongodb://127.0.0.1/your-database-name

# Or use a PG connection string
#DATABASE_URI=postgresql://127.0.0.1:5432/your-database-name

# Used to encrypt JWT tokens
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Secret used to authenticate cron jobs
CRON_SECRET=YOUR_CRON_SECRET_HERE

# Used to validate preview requests
PREVIEW_SECRET=YOUR_SECRET_HERE

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Key
CLERK_SECRET_KEY=sk_test_Key
NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL=/some-route
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL=/some-route


# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="YOUR_NAME_HERE"
NEXT_PUBLIC_CLOUDINARY_API_KEY=YOUR_KEY_HERE
CLOUDINARY_API_SECRET="YOUR_SECRET_HERE"